<h2>Contact</h2>

<form>
    <div class="form-group">
        <label>Firstname</label>
        <input type="text" class="form-control" name="contactFirstname"  [(ngModel)]="contact.firstname" placeholder="Enter Contact Firstname">
        <label>Lastname</label>
        <input type="text" class="form-control" name="contactLastname"  [(ngModel)]="contact.lastname" placeholder="Enter Contact Lastname">
        <label>Address</label>
        <input type="text" class="form-control" name="contactAddress"  [(ngModel)]="contact.address" placeholder="Enter Contact Address">
        <label>Phone</label>
        <input type="text" class="form-control" name="contactPhone"  [(ngModel)]="contact.phone" placeholder="Enter Contact Phone">
    </div>
    <button type="button" class="btn btn-outline-primary" (click)="addContact()">Add Contact</button>
    <div>

    </div>
    <div>
        <table>
          <thead>
            <tr>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Address</th>
              <th>Phone</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let contact of contacts">
              <td><a>{{contact.FirstName}} </a></td>
              <td>{{ contact.LastName }}</td>
              <td>{{ contact.Address }}</td>
              <td>{{ contact.Phone }}</td>
            </tr>
          </tbody>
        </table>
      </div>
</form>